@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
    background-color: #c9cad9;
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainHeader {
    font-size: 5rem;
    font-weight: 700;
}

.eventGrid {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.eventCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto 1.5rem auto;
    border-radius: 0.125rem;
    background-color: white;
    width: 80%;
    color: black;
}

.cardContent {
    padding: 2rem;
}

.cardImage {
    width: 100%;
    height: auto;
}
